/* region --- RESET --- */
*{   margin: 0;
    padding: 0;
}
*,::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
    ::before, ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

a { color: inherit; }
/* endregion */
/* region --- GENERAL --- */
html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
body *{
    margin: 0;
    font-family: var(--tipografia_de_la_pagina), monospace;
}
h1 {
    font-size: var(--tamano_fuente_h1);
}
h2{
    font-size: var(--tamano_fuente_h2);
}
h3{
    font-size: var(--tamano_fuente_h3);
}
/* endregion */


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: var(--espaciado_pequeno);
}

h1, h2 {
    text-align: left;
    color: var(--color_proa);
}

label {
    display: block;
    margin-top: var(--espaciado_pequeno);
}

input, textarea, select, button {
    width: 100%;
    padding: var(--espaciado_superpequeno);
    margin-top: var(--espaciado_superpequeno);
}
.container form div button,.container form div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--tamano_w_botones);
    height: var(--tamano_h_botones);
    border-radius: var(--border_radius_general);
    font-size: var(--tamano_fuente_p);
    border: none;
}

.container form .masbotones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.container form .masbotones button{
    background: #76AE77;
    margin: 0 var(--espaciado_superpequeno);
    color: var(--color_blancoProa);
}
.container form .masbotones a{
    background: #D07F8B;
    color: var(--color_blancoProa);
    text-decoration: none;
}


.alert {
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
    font-weight: bold;
    text-align: center;
    opacity: 1; /* empieza visible */
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}