/* region Importación de tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Space+Mono&display=swap');
/* endregion */
/* region --- RESET --- */
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

a { color: inherit; }
/* endregion */
/* region --GENERAL--*/
section.contenido {
    flex: 1;
}

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    font-family: var(--tipografia_de_la_pagina), monospace;
}

p{
    font-size: var(--tamano_fuente_p);
}
h1{
    font-size: var(--tamano_fuente_h1);
}
h2{
    font-size: var(--tamano_fuente_h2);
}
h3{
    font-size: var(--tamano_fuente_h3);
}

html {
    scroll-behavior: smooth;
}
/* endregion */

/* region -- DETALLES DE ASIGNATURA-- */
.intro_asig {
    display: flex;
    flex-direction: column;
    margin: var(--espaciado_pequeno) var(--espaciado_grande) var(--espaciado_pequeno);
}

/* este es el titulo de la asignatura*/
.titulo-volver {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--espaciado_pequeno) 0 var(--espaciado_mediano);
}

.titulo-volver a {
    margin: 0;
    text-decoration: none;
}
.titulo-volver.movil {
    display: none;
}
.titulo-volver .boton_tareas.movil{
    display: none;
}

.intro_asig ul{
    margin-top: var(--espaciado_mediano);
}

/* esto es el boton de tareas */

.tareas.boton_tareas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_proa);
    color: var(--color_blancoProa);
    border: none;
    border-radius: var(--border_radius_general);
    width: var(--tamano_w_botones);
    height: var(--tamano_h_botones);
    font-size: var(--tamano_fuente_botones);
}


.desplegables {
    margin:  var(--espaciado_mediano) var(--espaciado_grande);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.especificaciones_asign {
    font-size: var(--tamano_fuente_p);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: var(--espaciado_pequeno); /* Espacio entre elementos */
    padding: 0;
    margin-bottom: var(--espaciado_pequeno);
}

/* endregion */
/* region --Desplegables de acordeón--*/
details {
    border: var(--borde_fino_azul);
    border-radius: var(--border_radius_general);
    margin: var(--espaciado_superpequeno) 0;
    padding: var(--espaciado_superpequeno);
    width: 80%;
    max-width: 700px;
}

summary {
    font-weight: var(--fuente_resaltada);
    cursor: pointer;
    padding: var(--espaciado_superpequeno);
}

details[open] {
    padding-left: var(--espaciado_pequeno);
}

/*Profesores*/
.contenedor_profesores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}

.profesor {
    display: flex;
    padding: var(--espaciado_superpequeno);
    border-radius: var(--border_radius_general);
    flex: 1 1 0;
    margin-right: var(--espaciado_pequeno);
    align-items: center;
}
.profesor img {
    border-radius: var(--border_radius_general);
    margin-right: var(--espaciado_pequeno);
}

/* endregion */

/* region  Para móvil */
@media(min-width: 1200px){
    section.contenido{
        max-width: 1200px;
        margin: auto;
    }
}

@media (max-width: 720px) {
    .contenido{
        margin-top: 0;
        padding-top: 0;
    }

    .especificaciones_asign {
        grid-template-columns: 1fr; /* solo una columna */
        gap: var(--espaciado_pequeno);
    }

    .intro_asig {
        margin: var(--espaciado_mediano) var(--espaciado_pequeno);;
        gap: var(--espaciado_pequeno);
        padding: 0 var(--espaciado_mediano);
    }
    .titulo-volver{
        margin: var(--espaciado_pequeno) var(--espaciado_superpequeno);
        justify-content: space-between;
        padding: 0;

    }

    .desplegables {
        margin: var(--espaciado_mediano) var(--espaciado_pequeno);
    }

    /* Ajustes en botones */


    /* Desplegables de acordeón */
    details {
        width: 100%;
    }

    /* Profesores */
    .contenedor_profesores {
        gap: var(--espaciado_mediano);
    }

    .profesor {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    details {
        width: 100%;
        margin: var(--espaciado_superpequeno) auto;
        padding: var(--espaciado_superpequeno);
        box-sizing: border-box;
    }

    .desplegables {
        margin: var(--espaciado_pequeno);
    }


}
@media(max-width: 500px) {
    .titulo-volver .boton_tareas.normal {
        display: none;
    }
    .titulo-volver.movil{
        display: flex;
        justify-content: center;
    }
    .titulo-volver .boton_tareas.movil{
        display: flex;
        width: 90%;
        font-size: var(--tamano_fuente_botones);
        justify-content: center;
    }

}

/* endregion */