/* region --- RESET --- */
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

a { color: inherit; }
/* endregion */
/* region --- GENERAL --- */
html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    font-family: var(--tipografia_de_la_pagina), monospace;
}

main {
    display: flex;
    align-content: space-between;
    flex: 1;
}

p{
    font-size: var(--tamano_fuente_p);
}
h1{
    font-size: var(--tamano_fuente_h1);
}

/* endregion */
/* region -- saludo --*/

.saludo h1 {
    padding: var(--espaciado_mediano) var(--espaciado_mediano);
    height: 15vh;
    align-content: center;
    align-items: center;
}

/* endregion */
/* region --eventos--*/

.todos_los_eventos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 var(--espaciado_pequeno) var(--espaciado_superpequeno);
}
.dia_de_la_semana{
    border-radius: var(--border_radius_general);
    border: var(--borde_fino_azul);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 65vh;
    margin: var(--espaciado_superpequeno);
    flex: 1 1 0;
    align-content: space-between;
}

.dia_de_la_semana>div.dia{
    background-color: var(--color_proa);
    padding: var(--espaciado_pequeno) var(--espaciado_superpequeno);
    border-radius: var(--border_radius_general) var(--border_radius_general) 0 0;
    p{
        color: var(--color_blancoProa);
    }

}
.dia_de_la_semana ol{
    padding: var(--espaciado_superpequeno) 0;
    list-style: none;
    text-align: left;
    overflow-y: scroll;
}
.dia_de_la_semana ol li{
    margin: var(--espaciado_superpequeno);
    background-color: var(--color_proa2);
    border-radius: var(--border_radius_general);
    padding: var(--espaciado_pequeno);
    transition: background-color 0.5s ease; /*para el hover*/
    transform: scale(1); /*para el hover*/
}
.dia_de_la_semana ol li:hover{
    background-color: var(--color_hover_azul);
    align-self: center;
    transform: scale(1.02);
}
.dia_de_la_semana ol li a{
    text-decoration: none;
}
.dia_de_la_semana div#no_hay_datos{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--espaciado_superpequeno);
}
/* endregion */
/* region --Móvil--*/
@media (max-width: 785px) {
    .contenido {
        width: 100%;
    }

    .saludo {
        height: 15vh;
    }

    .todos_los_eventos {
        flex-direction: column;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    .dia_de_la_semana {
        width: 90%;
        height: auto !important; /* <-- Esto sí anula el 65vh */
        min-height: auto;
        justify-content: center;
    }

    .dia_de_la_semana ol {
        overflow-y: visible !important; /* <-- Esto sí fuerza que se muestre completo */
    }
}
@media (max-width: 550px) {
    .saludo {
        height: 20vh;
    }
    .bienvenido {
        flex-direction: column;
        padding: 10px 30px;
        width: 100%;
    }

    .bienvenido p {
        width: 100%;
        padding: 0;
    }

    .bienvenido img {
        width: 100%;
        top: 0;
        position: relative;
    }
}


/* endregion */


/* region --bienvenido--*/
/*.bienvenido{*/
/*    !*padding-top: var(--espaciado_mediano);*!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*}*/
/*.bienvenido p{*/
/*    display: block;*/
/*    padding: var(--espaciado_mediano) var(--espaciado_grande);*/
/*    width: 50%;*/
/*}*/

/*.bienvenido img{*/
/*    width: 50%;*/
/*    box-sizing: border-box;*/
/*    top: -150px;*/
/*    position: relative;*/
/*}*/


/* endregion */