/* region --- RESET --- */
*{   margin: 0;
    padding: 0;
}
*,::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
,::before, ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
}
}

a { color: inherit; }
/* endregion */
/* region --- GENERAL --- */
html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
body *{
    margin: 0;
    font-family: var(--tipografia_de_la_pagina), monospace;
}
h1 {
    font-size: var(--tamano_fuente_h1);
}
h2{
    font-size: var(--tamano_fuente_h2);
}
h3{
    font-size: var(--tamano_fuente_h3);
}
/* endregion */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: var(--espaciado_mediano);
}

.tablaAlumnos{
    text-align: center;
    width: 100%;
    max-width: 1500px;
    margin-top: var(--espaciado_pequeno);
}

.tablaAlumnos h1 {
    margin-bottom: var(--espaciado_superpequeno);
}

.tablaAlumnos h2 {
    margin-bottom: var(--espaciado_grande);
}

table tr td{
    font-size: var(--tamano_fuente_p);
}

.tablaAlumnos h1,
.tablaAlumnos h2{
    text-align: left;
    color: var(--color_proa_3);
}

table {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    border-radius: var(--border_radius_general);
    border-collapse: separate;
    border-spacing: 0;
    border: var(--borde_fino_negro);
    overflow: hidden;
}
th, td {
    border: var(--borde_fino_negro);
    padding: var(--espaciado_pequeno);
    text-align: center;
}

th {
    background-color: var(--color_proa2);
    padding: var(--espaciado_pequeno);
    color: var(--color_proa_3);
}

td {
    padding: var(--espaciado_pequeno);
    border-bottom: var(--borde_fino_negro);
}
.tarea-entregada{
    color: var(--color_proa_3);
}
.no-entregado {
    color: black;
}
@media(max-width: 565px){
    h1 {
        font-size: 18px;
    }

    button {
        font-size: 12px;
    }
    .btn-volver{
        height: 70px;
        font-size: 12px;
    }

    .tablaAlumnos th{
        font-size: 12px;
    }
    .tablaAlumnos td{
        font-size: 12px;
    }
}

