/* region --- RESET --- */
*{   margin: 0;
    padding: 0;
}
*,::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
,::before, ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
}
}

a { color: inherit; }
/* endregion */

/* region --- GENERAL --- */
html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
body *{
    margin: 0;
    font-family: var(--tipografia_de_la_pagina), monospace;
}
h1 {
    font-size: var(--tamano_fuente_h1);
}
h2{
    font-size: var(--tamano_fuente_h2);
}
h3{
    font-size: var(--tamano_fuente_h3);
}
/* endregion */

/* ========== General ========== */

.container {
    max-width: 1000px;
    margin: 40px 40px;
    padding: 20px;
    background: var(--color_proa2);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tituloYvolver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 70px;
}

h1 {
    padding-top: 30px;
    color: var(--color_proa);
}

h2 {
    justify-content: center;
    margin: 10px 70px;
}



/* ========== Info de tarea ========== */
.info-box {
    /*padding: 15px;*/
    /*margin: 0px 10px;*/
}

.info-box p {
    margin: 8px 0;
}

.archivos{
    margin: auto;
}

/* ========== Subida de archivos ========== */
.archivo-section {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
}

/*.archivo-display {*/
/*    margin-top: 15px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    gap: 8px;*/
/*}*/

/*.archivo-item {*/
/*    background-color: #e6f0ff;*/
/*    padding: 1px 15px;*/
/*    border: 1px solid #99c2ff;*/
/*    border-radius: 8px;*/
/*    font-size: 14px;*/
/*    width: fit-content;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*}*/


/*!* ========== Poner bonito el seleccionar archivos ========== *!*/
.upload-decorator {
    background-color: #f0f0f0;
    border: 2px dashed #aaa;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
}

.contador-archivos {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

/* ========== Botones ========== */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #c1c1c1;
}

.btn-secundario {
    background-color: white;
    border: 2px solid #000;
    color: #000;
}

.btn-enviar {
    margin: 16px auto 30px auto; /* arriba 16px, laterales auto, abajo 0 */
    background-color: var(--color_proa);
    width: 100px;
    align-items: center;
    border-radius: var(--border_radius_general);
    display: block;
    padding-bottom: 10px;
}

.btn-enviar:hover {
    background-color: white;
    color: var(--color_proa);
    border: 2px solid var(--color_proa);
}

.btn-eliminar {
    background-color: transparent;
    border: none;
    color: #d00;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.mensaje-enviado {
    margin-top: 15px;
    color: green;
    font-weight: bold;
    font-size: 16px;
}

.mensaje-error {
    margin-top: 15px;
    color: #aa0101;
    font-weight: bold;
    font-size: 16px;
}

.mensaje-enviado,
.mensaje-error {
    display: none;
}

.mensaje-box {
    padding: 1rem;
    border-radius: 0.75rem;
    margin: 1rem auto;
    max-width: 700px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mensaje-exito {
    background-color: #e0f7e9;
    color: #2e7d32;
    border: 1px solid #81c784;
}

.mensaje-error {
    background-color: #ffe0e0;
    color: #c62828;
    border: 1px solid #ef9a9a;
}


@media(max-width: 565px){
    .container{
        margin-top: 0;
        padding-top: 80px;
    }

}

@media(max-width: 565px){

    h1 {
        font-size: 18px;
    }
    button {
        font-size: 12px;
    }
    .btn-volver{
        height: 70px;
        font-size: 12px;
    }

    .tituloYvolver{
        margin: 10px 20px;
    }
    h2 {
        font-size: 18px;
        margin: 10px 20px;
    }

    .container{
        width: 90%;
        font-size: 12px;
    }

    .archivo-section{
        width: 90%;
        font-size: 12px;
    }
}