/* region --- RESET --- */
*{   margin: 0;
    padding: 0;
}
*,::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
,::before, ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
}
}

a { color: inherit; }
/* endregion */
/* region --- GENERAL --- */
html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
body *{
    margin: 0;
    font-family: var(--tipografia_de_la_pagina), monospace;
}
h1 {
    font-size: var(--tamano_fuente_h1);
}
h2{
    font-size: var(--tamano_fuente_h2);
}
h3{
    font-size: var(--tamano_fuente_h3);
}
/* endregion */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: var(--espaciado_mediano);
}

.tasks-container {
    text-align: left;
    width: 100%;
    max-width: 1000px;
    margin-top: var(--espaciado_mediano);
}

.tasks-container h1 {
    margin-bottom: 0.5rem;
    color: var(--color_proa);
}

.tasks-container h2 {
    margin-bottom: 2rem;
    color: var(--color_proa);
}

.task-link {
    text-decoration: none;
    font-weight: var(--fuente_resaltada);
}

.task-link:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: var(--border_radius_general);
    border-collapse: separate;
    border-spacing: 0;
    border: var(--borde_fino_negro);
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

th, td {
    border: var(--borde_fino_negro);
    padding: var(--espaciado_pequeno);
    text-align: center;
}

.resaltada a,
.resaltadaEditar a{
    color: var(--color_proa_3);
}

thead {
    background-color: var(--color_proa2);
    color: var(--color_proa_3);
}

@media(max-width: 565px){
    .tasks-container th{
        font-size: 12px;
    }
    .tasks-container td{
        font-size: 12px;
    }
}