
@media (max-width: 565px){
    body {
        padding-bottom: 50px;
        margin: 0;
        box-sizing: border-box;
    }

    .MOVIL_cosas_del_header {
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: #403E3E;
        padding: 10px;
        z-index: 1000;

    }
    .cosas_del_header{
        display: none;
    }
    .MOVIL_cosas_del_header ul{
        list-style: none;
        display: flex;
    }
    .MOVIL_cosas_del_header ul li{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .MOVIL_cosas_del_header .enlaces img{
        height: 30px;
        width: 30px;
    }

}