/*Importación de la tipografía Martel Sans*/
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Space+Mono&display=swap');

body {
    margin: 0;
    font-family: "Martel Sans";
}

main {
    margin: 20px 100px;
}

h1 {
    text-align: center;
    margin: 30px auto;
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
    margin: auto 25px;
    padding-top: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

textarea, input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7280B9;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #3A3F58;
}

.botones-abajo {
    display: flex;
    justify-content: center;
    gap: 20px; /* separa los botones */
    margin: 40px 0; /* espacio arriba y abajo */
}

.boton_guardar,
.boton_cancelar {
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.boton_guardar {
    background-color: #5A9E5D;
    color: white;
}

.boton_guardar:hover {
    background-color: #304D30;
}

.boton_cancelar {
    background-color: #C46575;
    color: white;
}

.boton_cancelar:hover {
    background-color: #5E343A;
}


/*BIBLIOGRAFÍA*/
.libro {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.boton-biblioteca {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.95rem;
    background-color: #d9534f; /* rojo */
    color: white;
    transition: background-color 0.3s;
}

.boton-biblioteca.en-biblioteca {
    background-color: #5cb85c; /* verde */
}

.boton-eliminar {
    padding: 8px 10px;
    background-color: #d9534f;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.boton-eliminar:hover {
    background-color: #5E343A;
}

/*Mensajes de guardado con exito o error*/
.mensaje {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mensaje.exito {
    background-color: #4CAF50;
}

.mensaje.error {
    background-color: #f44336;
}

.mensaje.visible {
    opacity: 1;
}

.mensaje.oculto {
    opacity: 0;
    pointer-events: none;
}
