/* region--- ENCABEZADO --- */

.encabezado {
    background-color: #4D4A4A;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    min-height: 70px;
    box-sizing: border-box;
    font-size: 12px;
}

.logo img {
    height: 40px;
    width: 120px; /* Ajustá según tu logo */
    padding-right: 10px;
}
.notificaciones{
    height: 30px;
    width: 30px;
}

/* MENÚ PRINCIPAL */
.cosas_del_header{
    margin-left: auto;
}

.cosas_del_header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center ;
    gap: 20px;
}

.cosas_del_header ul li {
    position: relative;
}

/* ESTILO DE LOS LINKS */
.encabezado a {
    color: aliceblue;
    text-decoration: none;
}

.encabezado a:hover {
    color: darkgray;
}

/* SUBMENÚ DEL USUARIO */
.nombre_de_usuario .user {
    display: none;
    position: absolute;
    top: 110%; /* debajo del botón "User" */
    left: -90px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    font-size: 10px;
    list-style: none;

}

.nombre_de_usuario:hover .user {
    display: block;
}

/* ITEMS DEL SUBMENÚ */
.user li {
    padding: 5px 10px;
    white-space: nowrap;
}

.user li a {
    color: aliceblue;
}
.user li a:hover {
    color: lightgray;
}

@media (max-width:500px){
    .encabezado{
        font-size: 10px;
    }
    .cosas_del_header ul {
        gap:10px;
    }
    .nombre_de_usuario .user {
        left: -70px;
    }
}
@media (max-width:350px){
    .encabezado{
        font-size: 8px;
    }
    .cosas_del_header ul {
        gap:5px;
    }
    .nombre_de_usuario .user {
        left: -70px;
    }
}
/*-----------------------------------------------------------------------------------------------------*/
/* endregion */

/*region --- FOOTER ---*/

.pie_de_pagina{
    background-color: #4D4A4A;
    color: aliceblue;
    margin:0;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.pie_de_pagina .logoGTI img{
    width: 90px;
    height: 65px;

}

.pie_de_pagina .logoGTI{
    display: flex;
    align-items: flex-end;
}
.pie_de_pagina .texto{
    align-items: center;
}

.pie_de_pagina .logoGTI p{
    font-size: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;

}
.pie_de_pagina nav{
    font-size: 10px;
}
.pie_de_pagina nav ul{
    margin: 10px;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}
.pie_de_pagina nav ul li{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

@media (max-width:500px){
    .pie_de_pagina .logoGTI p{
        font-size: 7px;
    }
}

/*--endregion--*/