/* region --- RESET --- */
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

a { color: inherit; }
/* endregion */
/* region --- GENERAL --- */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color_del_fondo_claro);
    color: var(--color_de_letra);
    font-family: var(--tipografia_de_la_pagina), sans-serif;
}
/* endregion */

/* region --- LOGIN ---*/
.main-content {
    display: flex;
    padding-top: var(--tamano_completo_header);
    height: 100vh;
}

/* caracteristicas del fondo*/
.login-box {
    flex: 1;
    background: url("../../img/Inicio_Registro.png") no-repeat center center / cover;
    color: var(--color_letra_fondoOscuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-box::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.login-box>*{
    z-index: 2;
}
/* fin de caracteristicas del fondo */


.login-box h1 {
    margin-bottom: var(--espaciado_pequeno);
    font-size: var(--tamano_fuente_h1);
}

.login-box form {
    width: 100%;
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--tamano_fuente_p);
}

.login-box form label {
    align-self: flex-start;
    margin: 5px 0;
}

.login-box input {
    width: 100%;
    background-color: var(--color_del_fondo_claro);
    padding: var(--padding_botones);
    margin-bottom: var(--espaciado_mediano);
    border: none;
    border-radius: var(--border_radius_general);
    font-size: var(--tamano_fuente_p_MOVIL);
}

.login-box button {
    padding: var(--padding_botones);
    background-color: var(--color_del_fondo_claro);
    color: var(--color_del_fondo_oscuro);
    border: none;
    border-radius: var(--border_radius_general);
    cursor: pointer;
    font-weight: var(--fuente_resaltada);
    transition: background-color 0.5s ease;
    transform: scale(1);
}
.login-box button:hover{
    background-color: var(--color_boton_oscuro);
    color: var(--color_letra_fondoOscuro);
    transform: scale(1.03);
}
.register {
    margin-top: var(--espaciado_mediano);
    font-size: var(--tamano_fuente_p);
}
.register a {
    color: var(--color_letra_fondoOscuro);
    text-decoration: underline;
}

/* endregion */
/* region ---mensaje de contacto---*/
/* Mensaje contacto*/
div.mensaje {
    position: fixed;
    top: calc(var(--espaciado_pequeno) + var(--tamano_completo_header));
    right: var(--espaciado_pequeno);
    max-width: 300px;
    padding: var(--padding_botones);
    border-radius: var(--border_radius_general);
    font-weight: 600;
    font-size: var(--tamano_fuente_p);
    color: var(--color_letra_fondoOscuro);
    box-shadow: var(--sombra_mensaje);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 9999;
}

.mensaje.oculto{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.mensaje.mensaje-exito {
    background-color: var(--color_exito);
    opacity: 1;
    /*transition: opacity 0.5s ease;*/
}

.mensaje.mensaje-error {
    background-color: var(--color_error);
    opacity: 1;
    /*transition: opacity 0.5s ease;*/
}
/* endregion */
/* region --- MEDIA --- */
@media (max-width: 900px){
    .login-box form {
        max-width: 45vw;
    }
}

@media (max-width: 630px){
    .login-box form {
        max-width: 55vw;
    }
}

@media (max-width: 565px) {

    .login-box {
        text-align: center;
        width: 100vw;
    }
    .login-box form {
        max-width: 70%;

    }

    .login-box label{
        font-size: var(--tamano_fuente_p_MOVIL);
    }
    .login-box input {
        font-size: var(--tamano_fuente_p_pequeño);
    }

    .register {
        font-size: var(--tamano_fuente_p_MOVIL);
        margin-top: 2rem;
    }
}

@media (max-width: 425px){
    .login-box form {
        max-width: 100%;
        padding: 0 var(--espaciado_mediano);
    }
}
/* endregion */
