/* region --- RESET --- */
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

a { color: inherit; }
/* endregion */

/*-----------------------------------------------------------------------------------------------------*/
/* region --- GENERAL --- */
html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    font-family: "Martel Sans", monospace;
}
.contenido {
    flex: 1;
}
main {
    display: flex;
    align-content: space-between;
}
p{
    font-size: 0.7em;
}
h1{
    font-size: 2.5em;
}

/* endregion */

/* region --- Saludo ---*/
.saludo {
    background-image: url("../../img/saludoPASfondo.jpg");
    background-size: cover;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: stretch;
    color: whitesmoke;
    width: 80vw;
    border-right: 3px solid #4D4A4A;
}
.saludo .texto {
    background-color: #4D4A4A90;
    width: 100%;
    height: 100%;
align-content: center;
}
.saludo p{
    padding-right: 20vw;
    margin-top: 5px;
    padding-left: 3vw;
}
.saludo .texto p{
    padding-right: 20vw;
    margin-top: 5px;
    padding-left: 3vw;
}
.saludo h1{
    padding-left: 2vw;
}

/* endregion */

/* region --- solicitudes mas recientes --- */
.solicitudes{
    padding-left: 0;
    padding-right: 1vw;
}

.solicitudes .mensajes .arriba_mensaje img{
    height: 50px;
    width: 50px;
}

.solicitudes .mensajes ol {
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 4vw;
    padding-right: 3vw;
    box-sizing: content-box;
}
.item{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.item.visible {
    opacity: 1;
    transform: translateY(0);
}

.solicitudes .mensajes ol li {
    background-color: #DFDEDE;
    margin-bottom: 10px;
    list-style: none;
}
.solicitudes .mensajes ol li:hover {
    background-color: #D0D3E8;
}
.solicitudes .mensajes ol li a {
    text-decoration: none;
}
.solicitudes h2{
    padding-left: 3vw;
    padding-bottom: 20px;
    padding-top: 30px;
}
.solicitudes .mensajes .arriba_mensaje{
    display: flex;
    align-content: flex-start;
    align-items: center;

}
.solicitudes .mensajes .arriba_mensaje p{
    padding-right: 10px;
    padding-left: 5px;
}

.solicitudes .mensajes .arriba_mensaje ul li{
    font-size: 0.65em;
    list-style: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
    background-color: transparent;
}

.solicitudes .mensajes .arriba_mensaje ul {
    padding: 5px;
}

.solicitudes .mensajes ol li{
    padding: 10px;
    border-radius: 15px;
}
.solicitudes .mensajes ol li .fecha_y_hora ul {
    display: flex;
    align-content: flex-start;
    align-items: center;
    font-size: 0.75em;
}

.solicitudes .mensajes ol li .fecha_y_hora ul li{
    margin-bottom: 0;
    background-color: transparent;
}


/* endregion */
/*-----------------------------------------------------------------------------------------------------*/

@media (max-width: 565px){
    main{
        display: flow;
    }
    .saludo{

        border-right: none;
        width: auto;
    }
    .saludo p{
        padding: 0.1em;
    }
    .saludo .texto p{
        padding-right: 2em;
        padding-left: 2em;
        overflow: auto;
    }
    .solicitudes .mensajes ol {
        max-height: fit-content;
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 4vw;
        padding-right: 3vw;
        box-sizing: content-box;
    }
    .saludo h1{
        padding: .5em;
        font-size: xx-large;
    }
    .saludo .texto{
        background-color: #4D4A4A95;
        padding-top: 5px;
        padding-bottom:20px;
    }
    .solicitudes h2{
        padding-left: 25px;
    }
}