/* region --- RESET --- */
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

a { color: inherit; }
/* endregion */
/* region --- GENERAL --- */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color_del_fondo_claro);
    color: var(--color_de_letra);
    font-family: var(--tipografia_de_la_pagina), sans-serif;
}
/* endregion */

/* region ---Primera seccion de landing---*/
/* contenido del main */
main{
    padding-top: var(--tamano_completo_header);
}
.hero {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1499951360447-b19be8fe80f5') no-repeat center center/cover;
    height: calc(100vh - var(--tamano_completo_header));
    text-align: center;
    color: var(--color_letra_fondoOscuro);
    box-sizing: border-box;
}

.hero>div.hero-content {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: var(--espaciado_mediano);
    border-radius: var(--border_radius_general);

}

.hero h1 {
    font-size: var(--tamano_fuente_h1);
    color: var(--color_letra_fondoOscuro);
}

.hero p {
    margin: 16px 0;
    font-size: var(--tamano_fuente_p);
}

/* Boton registro (CTA) */

.registro {
    display: inline-block;
    background-color: var(--color_boton_oscuro);
    color: var(--color_letra_fondoOscuro);
    padding: var(--padding_botones);
    border-radius: var(--border_radius_general);
    text-decoration: none;
    font-weight: var(--fuente_resaltada);
    transition: background-color 0.3s ease;
    box-shadow: var(--sombra_boton);
}

.registro:hover {
    background-color: var(--color_boton_oscuro_hover);
}
/* endregion */
/* region --- segunda seccion de la landing -> contacto  ---*/
.contacto {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    scroll-margin-top: var(--tamano_completo_header);
    height: calc(100vh - var(--tamano_completo_header));
    background: url("../../img/Contacto.png") no-repeat center center / cover;
    color: var(--color_letra_fondoOscuro);

    > * {
        position: relative;
        z-index: 2;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        padding: var(--espaciado_mediano) var(--espaciado_grande);
        align-self: center;
        width: 50%;

    }

    .formulario h2 {
        margin-bottom: var(--espaciado_pequeno);
        font-size: var(--tamano_fuente_h2);
        font-weight: var(--fuente_resaltada);
        text-align: center;
    }

    form input,
    form textarea {
        width: 100%;
        padding: var(--padding_botones);
        margin-bottom: var(--espaciado_mediano);
        border: none;
        border-radius: var(--border_radius_general);
    }
    form input, form textarea{
        background-color: var(--color_del_fondo_claro);
        font-size: var(--tamano_fuente_p_pequeño);
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form button {
        background-color: var(--color_boton_oscuro);
        color: var(--color_letra_fondoOscuro);
        padding: var(--padding_botones);
        font-size: var(--tamano_fuente_p);
        border: none;
        align-self: flex-end;
        border-radius: var(--border_radius_general);
        font-weight: var(--fuente_resaltada);
        cursor: pointer;
    }

    .formulario label {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: normal;
        color: #ffffff;
        text-align: left;
        width: 100%;
        max-width: 500px;
    }
}

.contacto::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Cambia 0.5 por lo oscuro que lo quieras */
    z-index: 1;
}
/*endregion*/
/* region ---mensaje de contacto---*/
/* Mensaje contacto*/
.mensaje {
    position: fixed;
    top: var(--espaciado_pequeno);
    right: var(--espaciado_pequeno);
    max-width: 300px;
    padding: var(--padding_botones);
    border-radius: var(--border_radius_general);
    font-weight: 600;
    font-size: var(--tamano_fuente_p);
    color: var(--color_letra_fondoOscuro);
    box-shadow: var(--sombra_mensaje);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.mensaje.visible {
    opacity: 1;
    pointer-events: auto;
}

.mensaje.exito {
    background-color: var(--color_exito);
}

.mensaje.error {
    background-color: var(--color_error);
}
/* endregion */
/* region ---@media---*/
@media (max-width: 830px){
    .contacto .formulario{
        width: 70%;
    }
}

@media (max-width: 600px) {
    /* en general*/
    main{
        padding-top: var(--tamano_completo_header_MOVIL);
    }

    /* en la primera seccion en aparecer*/
    .hero {
        padding: auto var(--espaciado_pequeno);
        width: 100vw;
    }

    .hero div.hero-content {
        padding: var(--espaciado_pequeno);
        width: 80%;
    }

    .hero div.hero-content h1 {
        font-size: var(--tamano_fuente_h1_MOVIL);
    }
    .hero div.hero-content p {
        font-size: var(--tamano_fuente_p_MOVIL);
    }

    .hero div.hero-content a {
        width: 100%;
        padding: var(--padding_botones);
        font-size: var(--tamano_fuente_p_MOVIL);
        border-radius: var(--border_radius_general);
        display: block;
        margin: 0 auto;
    }

/* en la seccion de contacto*/
    .contacto {
        scroll-margin-top: var(--tamano_completo_header_MOVIL);
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: var(--espaciado_pequeno), var(--espaciado_mediano);
    }

    .contacto .formulario {
        width: 100vw;
        margin: auto 0;
    }

    .contacto .formulario h2 {
        font-size: var(--tamano_fuente_h2_MOVIL);
        margin-left: 0;
        text-align: center;
    }

    .contacto form input,
    .contacto form textarea {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin-bottom: var(--espaciado_pequeno);
        word-wrap: break-word;
    }


    .contacto .formulario label {
        font-size: var(--tamano_fuente_p_MOVIL);
        text-align: left;
    }
    .contacto .formulario button{
        font-size: var(--tamano_fuente_p_MOVIL);
    }
}
@media (max-width: 355px) {
    .contacto .formulario {
        width: 80vw;
        padding: var(--espaciado_pequeno), var(--espaciado_mediano);
    }
}
/* endregion */
