/* region --- RESET --- */
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

a { color: inherit; }
/* endregion */
/* region --- GENERAL --- */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color_del_fondo_claro);
    color: var(--color_de_letra);
    font-family: var(--tipografia_de_la_pagina), sans-serif;
}
/* endregion */

/* region ---FORMULARIO---*/

.main-container {
    display: flex;
    padding-top: var(--tamano_completo_header);
    height: 100vh;
}
/* caracteristicas del fondo*/
.form-box {
    flex: 1;
    background: url("../../../proyecto/img/Inicio_Registro.png") no-repeat center center / cover;
    color: var(--color_letra_fondoOscuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-box::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.form-box>*{
    z-index: 2;
}
/* fin de caracteristicas del fondo */

.form-box h1 {
    margin-bottom: var(--espaciado_pequeno);
    font-size: var(--tamano_fuente_h1);
}

.form-box form {
    width: 100%;
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--tamano_fuente_p);
}
/* Nombre arriba de los inputs*/
.form-box form label {
    align-self: flex-start;
    margin: 5px 0;
    font-size: var(--tamano_fuente_p);
}

.form-box form input {
    width: 100%;
    background-color: var(--color_del_fondo_claro);
    padding: var(--padding_botones);
    margin-bottom: var(--espaciado_pequeno);
    border: none;
    border-radius: var(--border_radius_general);
    font-size: var(--tamano_fuente_p_MOVIL);
}

.form-box button {
    padding: var(--padding_botones);
    background-color: var(--color_del_fondo_claro);
    color: var(--color_del_fondo_oscuro);
    border: none;
    border-radius: var(--border_radius_general);
    cursor: pointer;
    font-weight: var(--fuente_resaltada);
    transition: background-color 0.5s ease;
    transform: scale(1);
}

.form-box button:hover{
    background-color: var(--color_boton_oscuro);
    color: var(--color_letra_fondoOscuro);
    transform: scale(1.03);
}


/*Link para inicio sesión*/
.login-link {
    margin-top: var(--espaciado_mediano);
    font-size: var(--tamano_fuente_p);
}

.login-link a {
    color: var(--color_letra_fondoOscuro);
    text-decoration: underline;
}
/* endregion */
/* region  ---MENSAJE DE CONFIRMACION Y DE ERROR--- */
#mensajeRegistro {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: var(--padding_botones);
    border-radius: var(--border_radius_general);
    font-weight: var(--fuente_resaltada);
    z-index: 9999;
    color: var(--color_letra_fondoOscuro);
}

.mensaje.visible {
    display: flex;
}

.mensaje.exito {
    background-color: var(--color_exito);
}

.mensaje.error {
    background-color: var(--color_error);
}
/* endregion */
/* region ---@MEDIA--- */
@media (max-width: 900px){
    .form-box form {
        max-width: 45vw;
    }
}
@media (max-width: 630px){
    .form-box form {
        max-width: 55vw;
    }
}
@media (max-width: 565px) {
    .main-container {
        flex-direction: column;
    }

    .form-box {
        text-align: center;
        width: 100vw;
    }

    .form-box form {
        max-width: 70%;
    }
    .form-box form label{
        font-size: var(--tamano_fuente_p_MOVIL);
    }
    .form-box form input {
        font-size: var(--tamano_fuente_p_pequeño);
    }

    .login-link {
        font-size: var(--tamano_fuente_p_MOVIL);
        margin-top: 2rem;
    }
}

@media (max-width: 425px){
    .form-box form {
        max-width: 100%;
        padding: 0 var(--espaciado_mediano);
    }
}
/* endregion */