/* region --- RESET --- */
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

a { color: inherit; }
/* endregion */
/* region -- GENERAL -- */
html, body {
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    font-family: "Martel Sans", monospace;
}
main {
    flex: 1;
    margin-bottom: 40px;
}
/* endregion */
/*-----------------------------------------------------------------------------------------------------*/

/* lo mas basico */

h1{
    margin: 5px;
    padding: 10px;
}
main>a{
    text-decoration: none;
}

.todas_las_solicitudes{
    display: flex;
    margin: 10px 10px 5px 10px;
}

.todas_las_solicitudes div{
    margin: 0 5px;
    flex-wrap: wrap;
}
.bandeja_columna1{
    width: 15vw;
    display: flex;
    flex-direction: column;
}
.bandeja_columna1 a{
    border: 1px solid #4D4A4A;
    border-radius: 5px;
    margin: 2px 0;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.bandeja_columna1 a:hover{
    background-color: #D0D3E8;
}
.bandeja_columna1 a.activo{
    background-color: #DB98A1;
    color: white;
}
/*fin columna 1*/
/*columna 2*/

.columna_2{
    width: 20vw;
    display: flex;
    flex-direction: column;
    font-size: 0.65rem;
    border-left: 1px solid #4D4A4A;
}
.columna_2 #bandeja_vacia{
    height: 100%;
    width: 100%;
    background-color: #e8e8e8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.columna_2 a{
    margin: 2px 0;
    padding: 5px;
    border: 1px solid #4D4A4A;
    border-radius: 5px;
    height: auto;
}
.columna_2 a:hover{
    background-color: #D0D3E8;
}
.columna_2 a.color{
    background-color: #7280B9;
    color: white;
    img{
        filter: brightness(0) invert(1);
    }
}
.columna_2 .bandeja a ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.columna_2 .bandeja a img{
    width: 30px;
    /*aspect-ratio: 1/1;*/
    box-sizing: border-box;
    min-width: 20px;
}
.columna_2 .bandeja a p{
    width: 70%;
}
/*fin de la columna 2*/

/*columna 3*/
.solicitudes_vista_del_contenido{
    width: 65vw;
}
.item-columna3 {
    display: none;
}
.item-columna3.activo2 {
    display: flex;
}

.item-columna3.activo2{
    background-color: #cfcfcf;
    border: 2px solid #4D4A4A;
    padding: 20px;
    border-radius: 30px;
    margin: 5px;
    height: 70vh;
    display: flex;
}
.solicitudes_vista_del_contenido .item-columna3 ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: 90%;
    gap:20px;
    overflow-y: scroll;
}
.solicitudes_vista_del_contenido .item-columna3 ul li img {
    width: 100px;
    aspect-ratio: 1/1;
    display: flex;
    flex-shrink: 0;
    margin-right: 20px;
}
.solicitudes_vista_del_contenido .item-columna3 ul div {
    padding: 20px 40px 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.solicitudes_vista_del_contenido .item-columna3 ul div p{
    margin: 10px 0;
    font-size: 0.7rem;
}
.solicitudes_vista_del_contenido .item-columna3 ul li.img_del_user_en_solicitudes{
    width: 200px;
}
.solicitudes_vista_del_contenido .item-columna3 div.boton{
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}
.solicitudes_vista_del_contenido .item-columna3>div.boton a{
    border: 1px solid #4D4A4A;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 15px;
    font-size: 0.7rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.solicitudes_vista_del_contenido .item-columna3 div.boton a:hover{
    background-color: #aeaeae;
}


/*ventana sin contenido desplegado*/

.solicitudes_vista_del_contenido #sin_contenido_desplegado {
    background-color: #686565;
    padding: 20px;
    border-radius: 30px;
    margin: 5px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: #e3e3e3;
}
.solicitudes_vista_del_contenido .sin_contenido img{
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}
.solicitudes_vista_del_contenido .sin_contenido p{
    margin-bottom: 5px;
}

.item-columna2{
    display: none;
}

.item-columna2.activo {
    display: block;
}
/* fin de lo mas basico*/