/* region --- RESET --- */
* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

a { color: inherit; }
/* endregion */
/* region -- GENERAL -- */
html, body {
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    font-family: "Andale Mono", monospace;
}
main {
    flex: 1;
    margin-bottom: 40px;
}
/* endregion */
/*-----------------------------------------------------------------------------------------------------*/

/* lo mas basico */

h1{
    margin: 5px;
    padding: 10px;
}

.todas_las_solicitudes{
    display: flex;
    margin: 10px 10px 5px 10px;
}

.todas_las_solicitudes div{
    margin: 0 5px;
    flex-wrap: wrap;
}
.bandeja_columna1{
    width: 15vw;
    display: flex;
    flex-direction: column;
}
.bandeja_columna1 a{
    border: 1px solid #4D4A4A;
    border-radius: 5px;
    margin: 2px 0;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}
.bandeja_columna1 a:hover{
    background-color: #D0D3E8;
}
.bandeja_columna1 a.activo{
    background-color: #DB98A1;
    color: white;
}
/*fin columna 1*/
/*columna 2*/

.columna_2{
    width: 20vw;
    display: flex;
    flex-direction: column;
    font-size: 0.65rem;
    border-left: 1px solid #4D4A4A;
}
.columna_2 a{
    margin: 2px 0;
    padding: 5px;
    border: 1px solid #4D4A4A;
    border-radius: 5px;
    height: 45px;
}
.columna_2 a:hover{
    background-color: #D0D3E8;
}
.columna_2 a.color{
    background-color: #7280B9;
    color: white;
    img{
        filter: brightness(0) invert(1);
    }
}
.columna_2 .bandeja a ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.columna_2 .bandeja a img{
    width: 30px;
    height: 30px;
    padding: 0 5px;
    box-sizing: content-box;
}
.columna_2 .bandeja a p{
    width: 70%;
}
/*fin de la columna 2*/
/*columna 3*/
.solicitudes_vista_del_contenido{
    width: 65vw;
}
.item-columna3 {
    display: none;
}
.item-columna3.activo2 {
    display: block;
}

.solicitudes_vista_del_contenido .item-columna3.activo2{
    background-color: #cfcfcf;
    border: 2px solid #4D4A4A;
    padding: 20px;
    border-radius: 30px;
    margin: 5px;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.solicitudes_vista_del_contenido .item-columna3 div{ /*veremos*/
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.solicitudes_vista_del_contenido>div>img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.solicitudes_vista_del_contenido div div{
    list-style: none;
}

.solicitudes_vista_del_contenido div ul li{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.solicitudes_vista_del_contenido div.boton a{
    border: 1px solid #4D4A4A;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 15px;
    font-size: 0.7rem;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.solicitudes_vista_del_contenido div.boton a:hover{
    background-color: #aeaeae;
}
.solicitudes_vista_del_contenido .sin_contenido{
    background-color: #4D4A4A;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 5px;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.solicitudes_vista_del_contenido .sin_contenido img{
    height: 100px;
    width: 100px;
}








.item-columna2{
    display: none;
}

.item-columna2.activo {
    display: block;
}
/* fin de lo mas basico*/