/*region --- FOOTER ---*/

footer{
    position: relative;
    background-color: #4D4A4A;
    color: white;
    font-size: 8px;
    padding: 10px;
    text-align: center;
}

footer img{
    position: absolute;
    right: 30px;
    top: 50%; /* Lo coloca a mitad del contenedor */
    transform: translateY(-50%); /* Lo sube la mitad de su propia altura */
    width: 30px;
}