/* ========== General ========== */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-weight: normal;
    margin-top: 5px;
    border-bottom: 2px solid #000;
    justify-content: center;
    padding-bottom: 5px;
}

/* ========== Info de tarea ========== */
.info-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 0;
    background-color: #fdfdfd;
}

.info-box p {
    margin: 8px 0;
}

/* ========== Instrucciones ========== */
.instrucciones {
    background-color: #f5c6cb;
    border: 1px solid #e6a8ad;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
}

/* ========== Subida de archivos ========== */
.archivo-section {
    margin-top: 30px;
    text-align: center;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.archivo-display {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.archivo-item {
    background-color: #e6f0ff;
    padding: 1px 15px;
    border: 1px solid #99c2ff;
    border-radius: 8px;
    font-size: 14px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}


/* ========== Poner bonito el seleccionar archivos ========== */
.upload-decorator {
    background-color: #f0f0f0;
    border: 2px dashed #aaa;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
}

.contador-archivos {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

/* ========== Botones ========== */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #c1c1c1;
}

.btn-secundario {
    background-color: white;
    border: 2px solid #000;
    color: #000;
}

.btn-enviar {
    margin-top: 20px;
    background-color: #e6828b;
}

.btn-eliminar {
    background-color: transparent;
    border: none;
    color: #d00;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.mensaje-enviado {
    margin-top: 15px;
    color: green;
    font-weight: bold;
    font-size: 16px;
}

.mensaje-error {
    margin-top: 15px;
    color: #aa0101;
    font-weight: bold;
    font-size: 16px;
}

.mensaje-enviado,
.mensaje-error {
    display: none;
}